mixin createVideo(sectionName, prevPic = sectionName, isSimpleButton = false, alt="Представляем "+ title, id="678suPK9iIc")
  .video(data-id= id, class= sectionName + "__media")
    a(href="https://youtu.be/"+id)._link
      img(src=`img/${prevPic}.jpg`, alt= alt, class= sectionName + "__preview", height="200")._preview

      if isSimpleButton
        button._play.-simple
          span.visually-hidden!= `Смотреть видео`
          svg(role="img", focusable="false", width="40", height="44")._play-icon.-simple
            use(xlink:href="#icon-play")
      else
        button(class= sectionName + "__play")._play
          span._play-text!= `Смотреть <br> видео`
          svg(role="img", focusable="false", width="66", height="72")._play-icon
            use(xlink:href="#icon-play")


mixin createColor(id, text, color, isChecked = false)
  li.color
    if isChecked
      input(id="color--" + id, type="radio", name="color", value=id, checked)._val.visually-hidden.slider__toggle
    else
      input(id="color--" + id, type="radio", name="color", value=id)._val.visually-hidden.slider__toggle
    label(for="color--" + id)._label.-lime= text
      svg(fill=color, width="22", height="22")._icon
        circle(cx="11", cy="11", r="10")


mixin createPreview(fileName, alt)
  li.slide.preview
    picture
      source(type=`image/webp`,
              srcset=`img/preview/${fileName}@3.webp 3x, img/preview/${fileName}@2.webp 2x,
              img/preview/${fileName}.webp 1x`)
      img(src=`img/preview/${fileName}.png`,
          srcset=`img/preview/${fileName}@3.png 3x, img/preview/${fileName}@2.png 2x`,
          alt= alt, width="325", height="167").preview__image
